<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="ODataTFS.TfsUsername" value="" />
    <add key="ODataTFS.TfsPassword" value="" />
    <add key="ODataTFS.TfsDomain" value="" />
    
    <!--
    VALID TYPES DEPEND ON SERVER
    e.g. for CodePlex site if you look at the Type dropdown options listed (Issue, Feature, Task), you would
    think that you could use these for WorkItemType, but you need to use "Work Item" instead. If you then 
    look at the work item on CodePlex.com after programmatically uploaded, it will be listed as "Issue".
    -->
    
    <!--SAMPLE SETTINGS FOR TFS -->
    <add key="ODataTFS.ODataBaseUrl" value="https://localhost:44301" />
    <add key="ODataTFS.TfsProjectCollection" value="DefaultCollection" />
    <add key="ODataTFS.TfsTeamProject" value="YourProject" />
    <!--
    Valid values depend on process template used for project. You may need to do some research to determine
    what is valid in your case.
    -->
    <add key="ODataTFS.WorkItemType" value="Bug" />
    <add key="ODataTFS.WorkItemReason" value=" " /> 

    <!--SAMPLE SETTINGS FOR CODEPLEX.COM-->
    <!--
    <add key="ODataTFS.TfsProjectCollection" value="TFS11" />
    <add key="ODataTFS.WorkItemType" value="Work Item" />
    <add key="ODataTFS.WorkItemReason" value="New" />
    -->

  </appSettings>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="higherMessageSize" maxReceivedMessageSize="157286400" maxBufferSize="157286400" maxBufferPoolSize="157286400" transferMode="Streamed">
          <readerQuotas maxDepth="157286400" maxStringContentLength="157286400" maxArrayLength="157286400" maxBytesPerRead="157286400" maxNameTableCharCount="157286400" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>